@page
@model AvaliacaoGuiando.Views.Home.CreateModel

<div>
    <h1 class="display-4">Adicionar Fornecedor</h1>
    
    <form action="/Home/AddFornecedor" method="post">
        <p class="text">Nome</p>
        <input name="nome" />
        <p class="text">Vertical</p>
        <select id="vertical">
            <option value="energia">Energia</option>
            <option value="agua">Água</option>
            <option value="telecom">Telecom</option>
        </select>
        <p class="text">Link para login</p>
        <input name="url" />
        <br />
        <button class="botao">Adicionar</button>
    </form>
</div>