@page
@model AvaliacaoGuiando.Views.Home.FornecedoresModel

<div>
    <table>
        <tr>
            <td>Nome</td>
            <td>Link</td>
            <td>Vertical</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Link</td>
            <td>Vertical</td>
        </tr>
        <tr>
            <td>Nome</td>
            <td>Link</td>
            <td>Vertical</td>
        </tr>
    </table>
</div>
