@{
    ViewData["Title"] = "Home Page";
}

<div style="text-align: center">
    <h1 class="display-4">Avaliação Guiando</h1>

    <form>
        <p class="text">Nome</p>
        <input name="Nome" />
        <p class="text">Senha</p>
        <input name="senha" type="password"/>

    </form>
</div>
